# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
tess-env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints


# Logs (if any)
*.log

# SQLite databases (if any)
*.sqlite3

# Large or intermediate data files (optional)
# *.csv
# *.hdf5

# Blender or simulation files (optional)
# *.blend
