# Check out requirements.txt for packages

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLite databases (if any)
*.sqlite3

# IDEs (optional)
.vscode/
.idea/

# Type checker caches
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Miscellaneous
*.bak
*.tmp