# Scientific/Math libraries
numpy
scipy
matplotlib
pandas

# Astronomy & data analysis
astropy
lightkurve
tqdm # for progress bars on large data sets

# Visualization and notebooks (to work in)
jupyter
plotly
seaborn # if we want, for statistical plots and more pretty visuals

# for 3D animation / simulation
vpython

# for Regression
curve_fit
